/build
/.dart_tool
.packages
.pub-cache
.pub
.idea
.vscode
*.iml
*.ipr
*.iws
android/.gradle
**/gradle-wrapper.jar
**/gradle-wrapper.properties
**/local.properties
ios/Pods
ios/.symlinks
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.DS_Store
.env
.env.local
.env.*.local
**/*.keystore
*.jks
*.pem
*.p12
**/generated_plugin_registrant.dart
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/app/src/main/java/io/flutter/plugins/
